.steps-content {
    min-height: 200px;
    margin-top: 16px;
    background-color: #fafafa;
}

.steps-action {
    padding: 24px;
    text-align: center;
}

.steps-action button {
    position: initial !important;
    width: auto !important;
    height: auto !important;
    margin-right: 5px;
}