.form-page.forgot-password-page .form {
    padding: 80px 55px 0 55px;
}
.form-page.forgot-password-page .form-wrapper {
    margin-top: 20px;
    padding: 80px 143px 77px 143px;
}
.form-page.forgot-password-page .form-wrapper .title {
    margin-top: 50px;
}
.form-page.forgot-password-page .form-wrapper .ifa-form-control .label {
    margin-top: 30px;
}
.form-page.forgot-password-page .register-link {
    margin-bottom: 50px;
}
.form-page.forgot-password-page::after {
    bottom: 35px;
}
@media only screen 
  and (min-width: 990px) 
  and (max-width: 1456px) {
    .form-page.forgot-password-page .form-wrapper {
        padding: 20px;
    }
}
@media only screen and (max-width: 991px) {
    .form-page.forgot-password-page .form {
        padding: 20px 20px 0 20px;
    }
    .form-page.forgot-password-page .form-wrapper {
        margin-top: 20px;
        padding: 20px;
    }
}
